/* Styles for Login, Signup, and Dashboard pages*/

/* Common styles */
div#register, div#login {
    margin: 20px 50px;
    padding: 20px;
    width: 30%;
    background-color: cadetblue;
    color: whitesmoke;
    border-radius: 5px;
    box-shadow: 1px 1px 2px 1px black;
}

h3, p { text-shadow: 1px 1px 2px black; }

div#register a, div#login a, div#dashboard span {
    color: navy;
    text-shadow: none;
}

div.row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

input#user_pass, input#user_pass2, input#user_login, input#user_email {
    box-shadow: 1px 1px 2px 1px black;
    border-radius: 5px;
    background-color: whitesmoke;
    width: 300px;
}

button#signup, button#login, button#logout {
    margin-top: 20px;
    background-color: whitesmoke;
    color: black;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 1px 1px 2px 1px black;
    cursor: pointer;
}
.red-text {
    color: darkred;
}

/* Dashboard styles */
div#dashboard {
    width: 98%;
    border: 2px solid black;
    border-radius: 5px;
    background-color: rgba(105, 158, 160, 0.8);
    color: black;
    padding: 5px 10px;
    margin: 10px 15px;
    box-shadow: 1px 1px 4px 1px black;
}
div#dashboard p {text-shadow: none;}
div#dashboard div.col {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
div.col-half {
    border: 2px solid black;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    background-color: rgba(250, 250, 250, 0.7);
}
div#dashboard div#posts, div#dashboard div#covers {
    flex-direction: column;
}
button#logout {
    font-size: 16px;
    margin: 0px 5px;
    padding: 5px;
}
div.status, div.status span {
    font-size: 16px;
}
div#dashboard div#dash {
    display: flex;
    justify-content: center;
}
div#dash h3 {
    text-shadow: 1px 1px 2px #aaa;
}
div#images {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}
img.cover {
    width: 150px;
}

/* Posts and Covers tables */
tr.post {
    /* background-color: whitesmoke; */
    margin-bottom: 5px;
    /* border-bottom: 1px solid black; */
}
tr.post th, tr.post td {
    font-size: 14px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
tr.post strong {
    font-size: 16px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
td span {
    cursor: pointer;
}






