body {
    background-color: wheat;
}

.title-bar .menu-icon {
    margin-right: 10px;
}

.top-bar, .dropdown.menu, ul.menu {
    background-color: wheat;
}

.top-bar {
    border-bottom: 1px dotted rgba(141, 21, 21, 0.6); 
    padding: 10px;
}
#site-map {
    margin-right: 30px;
}

/* Off-canvas site map stylings */
div.off-canvas-btn { height: 80px; }
.off-canvas { background-color: rgb(245, 222, 179); }
.off-canvas a { 
    color: rgb(141, 21, 21); 
    padding: 0px 5px; }
.off-canvas ul { 
    list-style-type: none;
    background-color: none; 
    box-shadow: none; 
    width: 90%; 
    margin-left: 15px; 
    border-radius: 0px;
    font-size: 35px;
}
.off-canvas ul li ul.menu.vertical { 
    background-color: rgba(100, 100, 100, 0.5); 
    padding: 5px 0px;
    width: 80%; 
    border-radius: 10px; 
    box-shadow: 1px 1px 8px black;
}
.off-canvas ul li ul.menu.vertical li a { 
    padding: 5px 10px; 
    line-height: 22px;
    text-shadow: 1px 1px 48px rgb(188, 186, 137); 
    font-size: 18px;
}
.off-canvas ul li ul.menu.vertical li a:hover { 
    border-radius: 10px; 
    box-shadow: 1px 1px 8px black; 
    font-size: 22px;}

.off-canvas ul li a.head-title { font-size: 20px; }

.dropdown.menu a {
    color: black;
}

/* .top-bar-left a:hover {
    color: rgb(23, 121, 186);
} */

.dropdown.menu a:hover, 
.is-dropdown-submenu-parent.is-active a#drop-parent {
    color: firebrick;
}

.dropdown.menu li.is-dropdown-submenu-parent a::after {
    border-top-color: firebrick;
}

.menu input {
    border-radius: 10px;
}

.button {
    background-color: black;
    border-radius: 10px;
}

.button:hover {
    background-color: firebrick;
}

#lhp {
    margin: 0px;
    padding: 0px;
}

main {
    margin: 0px;
}

.cell {
    padding: 20px;
}

.card {
    min-height: 560px;
    border: 0;
    background-color: wheat;
}

div.card-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div.card-section.title {
    height: 120px;
    padding-bottom: 0;
}

h4 { 
    width: 80%;
    font-size: 20px; 
    font-style: italic;
    text-align: center;     
}

div.card-section.desc {
    height: 100px;
    padding-top: 0px;
}

div.card-section.book-cover{
    height: 350px;
    padding: 0;
}

p {
    text-align: center;
}

.cover {
    max-width: 200px;
}

@media screen and (max-width: 400px) {

    #site-map {
        margin: 0px 10px 10px;
    }
    .grid-x {
        flex-direction: column !important;

    }
}