/* General */
body { background-color: rgb(253, 251, 245); }
p { text-align: center; }
h4 { 
    width: 80%;
    font-size: 20px; 
    font-style: italic;
    text-align: center;
}

/* Navigation */
.title-bar .menu-icon { margin-right: 10px; }
.top-bar, .dropdown.menu, ul.menu { background-color:rgb(243, 233, 216); }
.top-bar img { width: 100px; }
/* .top-bar { border-bottom: 1px dotted rgba(141, 21, 21, 0.6); padding: 10px; } */
.button { background-color: black; }
.button:hover { background-color: rgb(141, 21, 21); }
button#site-map { margin: 20px 30px; }
#lhp-brand { margin: 0px; padding: 0px; }
/* Dropdown */
.dropdown.menu li a { color: black; font-size: 18px; margin-top: 20px; }
.dropdown.menu a:hover, 
.is-dropdown-submenu-parent.is-active a#drop-parent { color: rgb(141, 21, 21); }
.dropdown.menu li.is-dropdown-submenu-parent a::after { border-top-color: rgb(141, 21, 21); }
.dropdown.menu > li.opens-right > .is-dropdown-submenu { top: 80%; min-width: 250px; }
.dropdown.menu > li.opens-right > .is-dropdown-submenu > li.is-dropdown-submenu-item > a { font-size: 16px; margin-top: 5px; line-height: 1.6;  }
/* Off-canvas site map stylings */
div.off-canvas-btn { height: 80px; }
.off-canvas { background-color: rgb(243, 233, 216); }
.off-canvas a { 
    color: rgb(141, 21, 21); 
    padding: 0px 5px; }
.off-canvas ul { 
    list-style-type: none;
    background-color: none; 
    box-shadow: none; 
    width: 90%; 
    margin-left: 15px; 
    border-radius: 0px;
    font-size: 35px;
}
.off-canvas ul li ul.menu.vertical { 
    background-color: rgba(100, 100, 100, 0.2); 
    padding: 5px 0px;
    width: 80%; 
    border-radius: 10px; 
    box-shadow: 1px 1px 8px black;
}
.off-canvas ul li ul.menu.vertical li a { 
    padding: 5px 10px; 
    line-height: 22px;
    text-shadow: 1px 1px 48px rgb(243, 233, 216); 
    font-size: 18px;
}
.off-canvas ul li ul.menu.vertical li a:hover { 
    border-radius: 10px; 
    box-shadow: 1px 1px 8px black; 
    font-size: 22px;}
.off-canvas ul li a.head-title { font-size: 20px; }

/* Main content */
main { margin: 0px; }
.cell { padding: 20px; }
.card {
    min-height: 560px;
    border: 0;
    background-color: rgb(253, 251, 245);
}
div.card-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
div.card-section.title {
    height: 120px;
    padding-bottom: 0;
}
div.card-section.desc {
    height: 100px;
    padding-top: 0px;
}
div.card-section.book-cover{
    height: 350px;
    padding: 0;
}
.cover { max-width: 200px; }
footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 30px; 
    /* border-top: 1px dotted rgb(141, 21, 21); */
    background-color: rgb(243, 233, 216);
}

@media screen and (max-width: 400px) {
    #site-map { margin: 0px 10px 10px; }
    .grid-x { flex-direction: column !important; }
}