body {
    background-color: #e6e6e6;
}

.title-bar .menu-icon {
    margin-right: 10px;
}

#site-map {
    margin-right: 30px;
}

.dropdown.menu a {
    color: black;
}

/* .top-bar-left a:hover {
    color: rgb(23, 121, 186);
} */

.dropdown.menu a:hover, 
.is-dropdown-submenu-parent.is-active a#drop-parent {
    color: firebrick;
}

.dropdown.menu li.is-dropdown-submenu-parent a::after {
    border-top-color: firebrick;
}

.menu input {
    border-radius: 10px;
}

.button {
    background-color: black;
    border-radius: 10px;
}

.button:hover {
    background-color: firebrick;
}

#lhp {
    margin: 0px;
    padding: 0px;
}

main {
    margin: 30px;
}

.card {
    min-height: 560px;
    border-radius: 20px;
}

.card-section {
    text-align: center;
}

.cover {
    max-width: 200px;
    border-radius: 20px;
}

@media screen and (max-width: 400px) {

    #site-map {
        margin: 0px 10px 10px;
    }
}