/* General */
* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
}

body {
    background-color: rgb(245, 222, 179);
    background: url('./images/71791391-8C23-480F-9876-5C96F963B6DD_1_201_a.jpeg');
    background-size: cover;
}

.hide { visibility: hidden; }

/* Off-canvas site map stylings */
.off-canvas { background-color: wheat; }
.off-canvas a { 
    color: rgb(141, 21, 21); 
    padding: 0px 5px; 
}
.off-canvas ul { 
    list-style-type: none;
    background-color: none; 
    box-shadow: none; 
    width: 90%; 
    margin-left: 15px; 
    border-radius: 0px;
    font-size: 35px;
}
.off-canvas ul li ul.menu.vertical { 
    background-color: rgba(100, 100, 100, 0.5); 
    padding: 5px 0px;
    width: 80%; 
    border-radius: 10px; 
    box-shadow: 1px 1px 8px black;
}
.off-canvas ul li ul.menu.vertical li a { 
    padding: 5px 10px; 
    line-height: 22px;
    text-shadow: 1px 1px 48px rgb(188, 186, 137); 
    font-size: 18px;
}
.off-canvas ul li ul.menu.vertical li a:hover { 
    border-radius: 10px; 
    box-shadow: 1px 1px 8px black; 
    font-size: 22px;}
.off-canvas a.title { font-size: 20px; }

/* Main content */
.container {
    width: 100%;
    height: 650px;
    margin-top: -120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.landing-menu {
    background-color: rgba(0, 0, 0, 0.7);
    width: 600px;
    height: 600px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 1px 1px 20px 1px black;
}
.left {
    width: 40%; height: 240px;
}
.middle {
    margin-left: -20px;
    text-align: center;
    width: 20%;
}
.empty {
    height: 300px;
}
.right {
    margin-left: -50px;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

/* Logo */ 
div.left a {
    height: 240px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
img#logo {
    width: 220px;
    margin-left: 100px;
    border-radius: 50%;
    box-shadow: 1px 1px 60px 2px darkslategray;  
    animation-duration: 1.5s;
    animation-name: floatin;
}
img#logo:hover {
    box-shadow: 1px 1px 20px 1px black;
    width: 230px;
}
@keyframes floatin {
    from { margin-left: -800px; }
    to { margin-left: 100px; }
}

/* Menu buttons */
div.landing-menu div.middle a, 
div.landing-menu div.right a {
    color: black;
    font-weight: bold;
    text-shadow: 1px 1px 16px #aaa; 
    text-decoration: none;
    animation-duration: .75s;
    animation-name: zoomin;
}
@keyframes zoomin {
    from { font-size: 2px; }
    to { font-size: 20px; }
}
 
div.landing-menu a:hover {
    color:  rgb(141, 21, 21);
}
div.button {
    background: transparent;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0px;
    padding: 0px;
}
div.button:hover { background: transparent; }
div.middle div.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 120px;
}
div.middle div.button:hover { padding: 0px; }
div.right div.button { margin: 15px 0px; }

button {
    background: rgba(245, 222, 179, 0.4);
    border-width: 0px;
    border-color: black;
    border-radius: 50%;
    box-shadow: 1px 1px 60px 2px #333;
    padding: 15px 5px;
    animation-duration: .75s;
    animation-name: zoomBtn;
}   
@keyframes zoomBtn {
    from { visibility: visible; height: 5px; width: 5px; }
    to { visibility: visible; }
}
button:hover { box-shadow: 1px 1px 20px 1px #000; }

button#news { width: 90px; height: 90px; }
button#about { width: 100px; height: 100px; }
button#cat { width: 150px; height: 150px; margin: 5px; }
button#sub { width: 160px; height: 160px; margin: 5px; }

button#news:hover { width: 100px; height: 100px; }
button#about:hover { width: 110px; height: 110px; }
button#cat:hover { width: 160px; height: 160px; margin: 0px; }
button#sub:hover { width: 170px; height: 170px; margin: 0px; }

/* Site Map button */
div.off-canvas-btn {
    height: 100px; 
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
div.site-map-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100px; height: 100px;
}
button#site-map {
    height: 80px; width: 80px;
    margin: 0;
    padding: 5px;
    font-size: 18px;
    color: black;
    border-radius: 50%;
    line-height: 24px;
    background-color: transparent;
    animation-duration: .75s;
    animation-name: zoomin2;
}
button#site-map:hover {
    color:  rgb(141, 21, 21);
    box-shadow: 1px 1px 20px 1px #000; 
    height: 90px; width: 90px;
}
@keyframes zoomin2 {
    from { display: contents; font-size: 2px; }
    to { display: contents; font-size: 18px; }
}

/* Media queries */
@media screen and (max-width: 400px) {
    div.off-canvas-btn { margin: 0px; margin-bottom: 10px; }
    button#site-map { height: 70px; width: 70px; }
    .container { margin-top: -40px; }
    .landing-menu {
        flex-direction: column;
        justify-content: flex-start;
        border-radius: 15px; 
        padding: 0; 
        width: 80%;
    }
    div.left a { height: auto; margin: 20px 0px; flex-direction: column; }
    .left { width: 100%; height: auto; }
    .empty { display: none; }
    .right { width: 100%; height: 150px; margin-left: 0px; }
    .middle {
        height: 150px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 0px;
    }
    img#logo { margin-left: 0px; }
    @keyframes floatin { from { margin-left: -600px; } to { margin-left: 0px; } }
    div.middle div.button button a, 
    div.right div.button button a { font-size: 20px; }
    button { border-radius: 15px; padding: 5px; }
    button#news, button#about, button#cat, button#sub { width: 160px; height: 40px; }
}