/* main content */
main, div.off-canvas-wrapper { 
    margin: 0px; 
    background: rgb(253, 251, 245)
}
div.cat-results { 
    width: 90%; 
    padding: 0px 50px; 
}
h2#cat-list, h2#ua-series, h2#na-series, h2#hr-series, 
h2#np-series, h2#lhp-series, h2#featured-list {
    margin: 0px 0px 20px; 
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    font-size: 60px;
}

/* Series page */
div.cat-results section {
    margin-left: 100px;
}
div.cat-results section#tabs {

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 20px;
}
div.cat-results section#tabs button.series-tab {
    font-weight: bold;
    flex: 1 0 auto;
    cursor: pointer;
    color: darkred;
    border-bottom: 3px dotted black;
    border-left: 3px dotted black;
    padding-bottom: 5px;
}
div.cat-results section#tabs button.series-tab:first-of-type {
    border-left: none;
}
section#series-summary {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 90%;
    padding: 20px;
}
section#series-summary h5 {
    font-family: inherit;
    font-size: 30px;
    font-weight: bold;
}
section#series-summary em {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    font-weight: bold;
}
#new-poets p, #ukrainian p, #native-american p, #human-rights p {
    text-shadow: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}

/* Table of catalog listings*/
table#cat {
    margin-left: 70px;
}
table#cat tbody {
    border: 0;
}
table#cat tbody tr {
    background-color: rgb(253, 251, 245);
}
table#cat tbody tr td {
    padding: 50px 100px 50px 0px;
}
table#cat tbody tr th {
    padding: 50px;
}
table#cat tbody tr:nth-child(2n) {
    background-color: rgba(141, 21, 21, 0.2); 
}
table#cat th.cover {
    width: 30%; 
}
table#cat th.cover form.qty {
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
}
table#cat form.qty label {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: rgba(141, 21, 21);
    text-align: center;
}
table#cat #quantity {
    width: 40px;
    margin-left: 5px;
    margin-top: 15px;
    border: 1px dotted black;
    font-size: 20px;
    background: transparent;
}
.shop {
    color: darkred;
}
.cart {
    margin-right: 10px;
    vertical-align: middle;
}
table#cat th.cover button {
    cursor: pointer;
    background: transparent;
    width: 160px;
    margin-top: 15px;
    padding: 0;
}
button span.shop {
    font-size: 24px;
    font-weight: bold;
}
table#cat img.cover { 
    width: 230px; 
}
table#cat h3 { 
    margin: 0px; 
}
h5#author { 
    border-bottom: 1px dotted black; 
}
h5#author p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
table#cat td.blurb div#blurb {
    font-size: 18px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: 10px;
    max-height: 250px;
    overflow-y: auto;
    scrollbar-width: thin;
    border-bottom: 1px dotted black;
    padding: 10px 30px 10px 0px;
}
table#cat td.blurb em {
    font-size: 18px; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
table#cat td.blurb div#blurb p {
    font-size: 18px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;    
}
table#cat p, table#cat h3 { 
    text-shadow: none; 
}

@media screen and (max-width: 470px) {
    div.cat-results {
        width: 100%;
        padding: 0;
        margin: 0;    
    } 
    h2#cat-list, h2#ua-series, h2#na-series, 
    h2#hr-series, h2#np-series, h2#lhp-series {
        font-size: 40px;
    }
    div.cat-results section { margin: 0; padding: 0; }
    div.cat-results section#tabs { flex-direction: column;}
    table#cat {margin-left: 0;}
    table#cat tbody tr.cat-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    table#cat tbody tr th.cover, table#cat tbody tr td.blurb {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
    }
    img.cover {
        min-width: 200px;
        margin: 20px;
    }
    span.shop {
        color: darkred;
    }
    table#cat h3#title, table#cat h5#author {
        margin: 0px 30px;
        text-align: center;
    }
    table#cat td.blurb div#blurb, 
    table#cat td.blurb div#blurb p {
        font-size: 16px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        margin-bottom: 10px;
        padding: 0px 30px;
        max-height: 500px;
        border-bottom: none;
    }
    table#cat td.blurb em, table#cat td.blurb p em {
        font-size: 16px;
    }
}
@media screen and (max-width: 1024px) {
    div.cat-results {
        width: 100%;
        padding: 0;
        margin: 0;    
    } 
    h2#cat-list { margin: 0;}
    table#cat {margin-left: 0;}
    table#cat tbody tr td.blurb {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 30px 50px 30px 0px;
    }
    table#cat tbody tr th.cover {
        padding: 30px 50px 30px 50px;
    }
    table#cat h3#title {
        margin: 10px 20px;
        text-align: center;
        font-size: 24px;
    }
    table#cat h3#title em {
        font-family: inherit;
        font-size: 20px;
    }
    table#cat h5#author {
        font-size: 18px;
        text-align: center;
    }
    section#series-summary { margin-left: 30px;} 
    section#tabs {margin-left: 0; }
}