/* main content */
div.cat-results { 
    width: 90%; 
    padding: 0px 50px; 
}
h2#cat-list, h2#ua-series {
    margin: 0px 0px 20px; 
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    font-size: 60px;
}

/* Table of catalog listings*/
table#cat tbody {
    border: 0;
}
table#cat tbody tr {
    background-color: rgb(253, 251, 245);
}
table#cat tbody tr td {
    padding: 50px 100px 50px 0px;
}
table#cat tbody tr th {
    padding: 50px;
}
table#cat tbody tr:nth-child(2n) {
    background-color: rgba(141, 21, 21, 0.2); 
}
table#cat th.cover {
    width: 30%; 
}
table#cat th.cover .qty {
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
}
table#cat .qty label {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: rgba(141, 21, 21);
    text-align: center;
}
table#cat #quantity {
    width: 40px;
    margin-left: 5px;
    margin-top: 15px;
    border: 1px dotted black;
    font-size: 20px;
    background: transparent;
}
table#cat th.cover button {
    cursor: pointer;
    background: transparent;
    width: 160px;
    margin-top: 15px;
    padding: 0;
}
button span.shop {
    font-size: 24px;
    font-weight: bold;
}
table#cat img.cover { 
    width: 230px; 
}
table#cat h3, 
table#cat h5#praise { 
    margin: 0px; 
}
h5#author { 
    border-bottom: 1px dotted black; 
}
table#cat td.blurb div#blurb {
    font-size: 18px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: 10px;
    max-height: 250px;
    overflow-y: auto;
    scrollbar-width: thin;
    border-bottom: 1px dotted black;
    padding: 10px 30px 10px 0px;
}
table#cat td.blurb em {
    font-size: 18px; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

table#cat td.blurb div#blurb p {
    font-size: 18px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;    
}
table#cat p, table#cat h3 { 
    text-shadow: none; 
}

@media screen and (max-width: 470px) {
    div.cat-results {
        width: 100%;
        padding: 0;
        margin: 0;    
    } 
    table#cat tbody tr.cat-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    table#cat tbody tr th.cover, table#cat tbody tr td.blurb {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
    }
    img.cover {
        min-width: 200px;
        margin: 20px;
    }
    span.shop {
        color: darkred;
    }
    table#cat h3#title {
        margin: 0px 30px;
        text-align: center;
    }
    table#cat td.blurb div#blurb {
        font-size: 16px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        margin-bottom: 10px;
        padding: 0px 30px;
        max-height: 500px;
        border-bottom: none;
    }
    table#cat td.blurb em {
        font-size: 16px;
    }
}