footer div.copyright {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 30px; 
    /* border-top: 1px dotted rgb(141, 21, 21); */
    background-color: rgb(253, 251, 245);
    font-size: 16px;
}
footer a {
    font-size: 16px;
    padding: 5px;
}