footer div.copyright {
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 30px; 
    background-color: rgb(253, 251, 245);
}
footer a {
    padding: 5px;
}

#heart {
    margin: 5px;
    height: 20px;
    color: rgb(141, 21, 21);
}

@media screen and (max-width: 470px) {
    footer div.copyright {
        flex-direction: column;
        align-items: center;
    }
}