/* Navigation */
div#wrapper .top-bar, div#wrapper .top-bar ul {
    background-color: rgb(253, 251, 245);
}
div#wrapper .title-bar .menu-icon { 
    margin-right: 10px; 
}
div#wrapper .top-bar {
    padding: 0px 10px 0px 0px;
}
div#navigation {
    align-items: flex-start;
}
.top-bar-right{
    padding-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.top-bar img { 
    width: 150px;
    margin: 10px 0px 0px 10px;
}
.top-bar .button { 
    background-color: black; 
}
.top-bar .button:hover, .top-bar .button:focus { 
    background-color: rgb(141, 21, 21); 
}

#lhp-brand { 
    margin: 0px; 
    padding: 0px; 
}


/* Dropdown */
a#news, a#cat, a#about, a#subs { 
    color: black;
    font-size: 36px; 
    font-weight: bold;
    margin-top: 25px;
    padding: 0px 25px;
}
a#news:hover, a#cat:hover, a#about:hover, a#subs:hover,
a#cat:active, .is-dropdown-submenu a:hover { 
    color: rgb(141, 21, 21); 
}
a#cat::after { 
    border-top-color: rgb(141, 21, 21);
}
.dropdown.menu > li.opens-right > .is-dropdown-submenu#cat-drop {
    top: 50%;
    min-width: 250px; 
    border: 1px solid #aaa;
}
.is-dropdown-submenu-item > a {  
    margin-top: 5px; 
    line-height: 1.6;  
    color: black;
    font-weight: bold;
}

/* Form and site-map button*/
#shop {
    color: darkred;
    margin: 10px 50px 0px 0px;
}
.top-bar-right form {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 330px;
}
form button#search-btn, button#site-map {
    width: 100px;
    height: 40px;
    padding: 0px;
    margin-top: 5px;
    font-size: 24px;
}
#search-field {
    margin: 5px 15px;
    height: 40px;
    width: 200px;
    font-size: 24px;
    background: rgba(253, 251, 245);
}

@media screen and (max-width: 470px) {
    div.top-bar-left, div.top-bar-right, .dropdown.menu { 
        display: flex; 
        flex-direction: column; 
        align-items: center;
    }
    a#news, a#cat, a#about, a#subs { 
        font-size: 28px; 
        margin-top: 25px;
        padding: 0px 25px;
    }
    .top-bar-right form {
        flex-direction: column;
        align-items: center;
    }
} 